html, body{
  width: 100%;
  height: 100%;
  margin: 0;
}

#header {
  width: 100%;
  height: 6%;
  background-color: #4e6476;
  display: flex;
  align-items: center;
}

#header img {
  height: 90%;
  object-fit: contain;
  margin-left: 0.5%;
}

#body {
  width: 100%;
  height: 94%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-content: center;
  background-color:  #e6e6e6;
  font-family: "Arial", sans-serif;
}

#input-container {
  font-size: medium;
  margin-top: 1%;
  margin-left: 17%;
  font-weight: bold;
  font-family: "Arial", sans-serif;
}

.input-text {
  font-family: "Arial", sans-serif;
  font-size: medium;
  border: 2px solid darkgray;
} 

.input-text:focus {
  outline: none;
  box-shadow: 0 0 0 3px lightgray;
}

#search-and-URI-container {
  font-size: smaller;
  margin-top: 5%;
}

.search-box {
  display: flex;
  align-items: center;
  gap: 0px;
}

.search-input {
  font-family: "Arial", sans-serif;
  font-size: small;
  border: 2px solid darkgray;
  border-radius: 5px;
  resize: none;
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 0 3px lightgray;
}

.retrieve-passage-btn {
  margin: 2px 0;
  padding: 2px 12px;
  font-size: 12px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
  height: 32px;
  box-sizing: border-box;
  background: #008CBA;
  color: white;
}
.retrieve-passage-btn:hover {
  background-color: #82878b;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

a {
  color: #4183C4;
  text-decoration: none;
  font-weight: none;
}

.available-works {
  font-size: small;
  clear: both;
  margin-top: 2px;
  margin-left: 5px;
  margin-bottom: 5%;
}

.URI-box {
  display: flex;
  align-items: center;
  gap: 0px;
}

.URI-input {
  font-family: "Arial", sans-serif;
  font-size: small;
  border: 2px solid darkgray;
  border-radius: 5px;
  resize: none;
}

.URI-input:focus {
  outline: none;
  box-shadow: 0 0 0 3px lightgray;
}

.enter-URI-btn {
  margin: 2px 0;
  padding: 2px 16px;
  font-size: 12px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
  height: 32px;
  box-sizing: border-box;
  background: #008CBA;
  color: white;
}
.enter-URI-btn:hover {
  background-color: #82878b;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

#upload-XML {
  font-size: smaller;
  font-weight: none;
  margin-top: 5%;
}

#upload-XML fieldset {
  width: 70%;
  border: 2px solid darkgray;
}

.URL-box {
  display: flex;
  align-items: center;
  gap: 0px;
}

.URL-input {
  font-family: "Arial", sans-serif;
  font-size: small;
  border: 2px solid darkgray;
  border-radius: 5px;
  resize: none;
}

.URL-input:focus {
  outline: none;
  box-shadow: 0 0 0 3px lightgray;
}

.enter-url-btn {
  margin: 2px 0;
  padding: 2px 25px;
  font-size: 12px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
  height: 32px;
  box-sizing: border-box;
  background: #008CBA;
  color: white;
}
.enter-url-btn:hover {
  background-color: #82878b;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

#input-manipulation legend {
  font-size: medium;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  margin-bottom: 1%;
}

#input-manipulation fieldset {
  font-size: smaller;
  font-weight: bold;
  border: none;
  margin-top: 5%;
  margin-right: 250px;
}

#input-manipulation label {
  margin: 3px;
}

.edit-button {
  font-size: medium;
  margin-top: 2%;
  margin-left: 2%;
  padding-top: 0.875rem;
  padding-right: 1.75rem;
  padding-bottom: 0.9375rem;
  padding-left: 1.75rem;
  font-size: 0.8125rem;
  background-color: #008CBA;
  color: white;
  border-radius: 8px;
  font-size: 12px;
  border: 2px solid #ccc;
  outline: none;
  box-sizing: border-box;
  background: #008CBA;
  color: white;
}

.edit-button:hover {
  background-color: #82878b;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

#toast {
  position: absolute;
  top: 33.5%;
  right: 22%;
  transform: translateX(-50%);
  background-color: #e85146;
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  opacity: 0;
  transition: opacity 0.3s ease, top 0.3s ease;
  pointer-events: none;
  z-index: 1000;
}