html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}

p {
    margin: 0;
}

div {
    border: 1px solid red;
    box-sizing: border-box;
}

#header {
    width: 100%;
    height: 5%;
    background-color: #4e6476;
    display: flex;
    align-items: center;
}

#header img{
    height: 70%;
    object-fit: contain;
    margin-left: 1%;
}

#header-buttons{
    margin-left: auto;
    margin-right: 1%;
}

#body {
    width: 98%;
    height: 93%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-top: 1%;
    background-color: lightgrey;
}

#tree-view {
    width: 59%;
    height: 100%;
    justify-self: left;
}

#tools {
    width: 39%;
    height: 100%;
    justify-self: right;
}

#sentence {
    width: 100%;
    height: 8%;
}

#tree-bank {
    width: 100%;
    height: 92%;
}

#tree-bar {
    width: 100%;
    height: 3%;
}

#sandbox {
    width: 100%;
    height: 97%;
}

#toolbar {
    height: 4%;
}

#tool-body {
    height: 96%;
}